.card {
  width: 260px;
  height: 160px;
  margin: 50px;
  background: rgba(198, 198, 198, 0.34);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.44);
  border-left: 2px rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.28);
  overflow: hidden;
  color: white;
}

.card:hover {
  height: 254px;
  transform: scale(1.4);
  transition: 1.7s;
}
.card .icon-card{
  width: 40px;
  height: 40px;
  position: fixed;
  left: 105px;
  top: 195px;
}

.align {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}
.card p {
  margin: 0px;
  padding: 2px;
  text-align: center;
  color: #000000;
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}
.card img {
  height: 160px;
  width: 260px;
}
